html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2D2A24;
  line-height: 1.5;
  background-color: #F2F0ED;
}

.btn-primary {
  background-color: #2D2A24;
  color: antiquewhite;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0px 16px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 32px;
  color: #2D2A24;
}

.col-4 {
  width: calc(33.3333333333% - 16px);
  margin: 0 8px;
}

.col-6 {
  width: calc(50% - 16px);
  margin: 0 8px;
}

.col-8 {
  width: calc(66.6666666667% - 16px);
  margin: 0 8px;
}

nav {
  margin: 24px 0px;
}

.nav-left {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-left a {
  color: #2D2A24;
}
.nav-left .menu-hambuger {
  background-color: orange;
  color: black;
  text-align: center;
  display: none;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-right li {
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 4px 4px 0px 0px;
}
.nav-right li:hover {
  background-color: #2D2A24;
}
.nav-right li:hover a {
  color: white;
}
.nav-right li:hover .inside-nav {
  display: block;
}
.nav-right li a {
  text-align: center;
  width: 100px;
  font-size: 16px;
  color: #2D2A24;
}
.nav-right li .inside-nav {
  position: absolute;
  top: 24px;
  display: none;
  background-color: #007188;
  z-index: 2;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner img {
  width: 40%;
}

.content {
  margin-top: 16px;
}
.content h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.content .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .work-item h3 {
  font-size: 56px;
}
.content .work-item p {
  font-size: 16px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.work .work-item {
  text-align: center;
  margin-bottom: 32px;
}
.work .work-item h3 {
  margin-top: 8px;
  font-weight: 700;
}
.work .work-item p {
  color: #3c727d;
}
.work .work-item img {
  border-radius: 16px;
  -webkit-box-shadow: 0px 5px 10px rgb(188, 188, 188);
          box-shadow: 0px 5px 10px rgb(188, 188, 188);
}

.breadCrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadCrumbs a {
  color: #2D2A24;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-list {
  margin-top: 64px;
}
.slide-list li {
  margin-bottom: 8px;
}
.slide-list li a {
  text-align: center;
  width: 200px;
  height: 36px;
  font-size: 16px;
  padding: 8px 0px;
  background-color: #3b1614;
  color: white;
  border-radius: 4px;
}
.slide-list li a:hover {
  background-color: #2D2A24;
}

.new-product h2 {
  padding-left: 16px;
  font-size: 32px;
}
.new-product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  background-color: #2D2A24;
  color: white;
}
footer p {
  padding: 24px;
  text-align: center;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-content dl {
  margin-top: 20px;
  text-align: center;
  width: 20%;
}

@media (max-width: 768px) {
  .nav-right li {
    display: none;
  }
  .nav-right li .menu-hambuger {
    display: block;
  }
}
.fz-1 {
  font-size: 1 em;
}

.fz-2 {
  font-size: 2 em;
}

.fz-3 {
  font-size: 3 em;
}

.col-4 {
  width: calc(33.3333333333% - 16px);
  margin: 0 8px;
}

.col-1 {
  --num:calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-2 {
  --num:calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-3 {
  --num:calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-4 {
  --num:calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-5 {
  --num:calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-6 {
  --num:calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-7 {
  --num:calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-8 {
  --num:calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-9 {
  --num:calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-10 {
  --num:calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-11 {
  --num:calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

.col-12 {
  --num:calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 8px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num:calc(12 / 1);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-2 {
    --num:calc(12 / 2);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-3 {
    --num:calc(12 / 3);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-4 {
    --num:calc(12 / 4);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-5 {
    --num:calc(12 / 5);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-6 {
    --num:calc(12 / 6);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-7 {
    --num:calc(12 / 7);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-8 {
    --num:calc(12 / 8);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-9 {
    --num:calc(12 / 9);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-10 {
    --num:calc(12 / 10);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-11 {
    --num:calc(12 / 11);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-md-12 {
    --num:calc(12 / 12);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num:calc(12 / 1);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-2 {
    --num:calc(12 / 2);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-3 {
    --num:calc(12 / 3);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-4 {
    --num:calc(12 / 4);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-5 {
    --num:calc(12 / 5);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-6 {
    --num:calc(12 / 6);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-7 {
    --num:calc(12 / 7);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-8 {
    --num:calc(12 / 8);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-9 {
    --num:calc(12 / 9);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-10 {
    --num:calc(12 / 10);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-11 {
    --num:calc(12 / 11);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }

  .col-lg-12 {
    --num:calc(12 / 12);
    width: calc(100% / var(--num) - 32px);
    margin: 0px 8px;
  }
}