.slide{
    ul{
        li{
            a{
                width: 100px;
                height: 36px;
                background-color: $primary-color;
                
            }
        }
    }
}