@import 'base';

$primary-color :#8b2131;
$text-second-color:#8a515a;

body{
    font-family:Arial, Helvetica, sans-serif;
    color:$primary-color;
    line-height: 1.5;
}

.btn-primary{
    background-color: $primary-color;
    color: antiquewhite;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
}

.container{
    max-width: 1172px;
    margin: 0 auto;
    padding: 0px 16px;

}
a{
    text-decoration: none;
    display:block;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
h1{
    font-size: 32px;
    color:$primary-color;
}
// 三欄算法
.col-3{
    width: calc(100% / 3 - 16px);
    margin: 0 8px ;
}

nav{
    margin: 24px 0px;
    
}
.nav-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    
    a{
        color:$primary-color;
    }

    button{
       border: 1px solid rgb(180, 180, 180);
        border-radius: 8px;
        width: 128px;
        padding: 0;
        font-size: 16px;
        height: 48px;
        background: white;
        
    }
}
.nav-bottom{
    display: flex;
    justify-content: center;
       
    li{
       
        a{
            text-align: center;
            width: 100px;
            font-size: 16px;
            color:$primary-color
        }
    }
}
.content{
    margin-top: 16px;
    h2{
        font-size: 24px;
        text-align: center;
        margin-bottom: 16px;
    }
}

.work{
    display: flex;
    flex-wrap: wrap;

    .work-item{
        text-align: center;
        margin-bottom: 32px;

        h3{
            margin-top: 8px;
            font-weight: 700;
        }
        p{
            color:$text-second-color;
        }

        img{
            border-radius: 16px;
            box-shadow: 0px 5px 10px rgb(188, 188, 188);
        }
        
    }

}
// design-list star//
.slide{
    display: flex;
}
.slide-list{
    margin-top: 64px;
        li{
            margin-bottom: 8px;
            a{
                text-align: center;
                width:200px;
                height: 36px;
                padding: 8px;
                background-color: #3b1614;
                color:white;
                border-radius: 4px;

                &:hover{
                  background-color: $primary-color; 
                }
            }

        }
}

.new-product{
    h2{
        padding-left: 16px;
        font-size: 32px;
    }
    ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    width:calc(100% / 3 - 32px);
    margin: 16px 16px;
}
}

footer{
    background-color: $primary-color;
    color:white;
}
.footer-content{
    display: flex;
}