doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='scss/test.css')
    title 伯朗咖啡練習
  body
    header.container
      nav
        .nav-top
          a(href='index.html')
            h1 DeanLee
          ul.nav-bottom
            li
              a(href='#') 關於我
            li
              a(href='design-list.html') 網頁作品
              ul.inside-nav
                li
                  a(href='#') Chatbot
                li
                  a(href='#') innncookie
            li
              a(href='#') 平面作品
            li
              a(href='#') 聯絡我
    // header end
    .breadCrumbs.container
      a(href='index.html') 首頁
      p >
      a(href='design-list.html') 網頁作品
    .slide.container
      ul.slide-list
        li
          a(href='#') 最新產品
        li
          a(href='#') 飲品介紹
        li
          a(href='#') 餐點介紹
        li
          a(href='#') 周邊商品
        li
          a(href='#') 伯朗咖啡券
        li
          a(href='#') 伯朗電子禮贈品票券
        li
          a(href='#') 點餐單下載
      .new-product
        h2 最新產品
        ul
          li
            img(src='images/lettee.jpg' alt='')
            h4 拿鐵咖啡
            p NT130
          li
            img(src='images/lettee.jpg' alt='')
            h4 拿鐵咖啡
            p NT130
          li
            img(src='images/lettee.jpg' alt='')
            h4 拿鐵咖啡
            p NT130
          li
            img(src='images/lettee.jpg' alt='')
            h4 拿鐵咖啡
            p NT130
          li
            img(src='images/lettee.jpg' alt='')
            h4 拿鐵咖啡
            p NT130
          li
            img(src='images/lettee.jpg' alt='')
            h4 拿鐵咖啡
            p NT130
    // footer start
    footer
      .footer-content.container
        dl
          dt 項目一
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
        dl
          dt 項目一
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
        dl
          dt 項目一
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
        dl
          dt 項目一
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
