doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../scss/test.css')
    title 伯朗咖啡練習
  body
    header.container
      
      nav
        .nav-left
          h1
            a(href='index.html') DeanLee
          ul.nav-right
            li
              a(href='#') About
            li
              a(href='design-list.html') Work222
              ul.inside-nav
                li
                  a(href='#') Chatbot
                li
                  a(href='#') innncookie
            li
              a(href='#') Contact
            li 
                a.icon-menu(href='#') menu
    // header end
    .banner.container
      h1
        | Hello!
        br
        | I AM DeanLee
      img(src='../images/dean.png' alt='')
    .content.container
      h2 最新作品一覽
      ul
        li.work-item
          img(src='../images/chatbot.png' alt='')
          div
            h3 ChatTalker
            p html/css/jquery
        li.work-item
          div
            h3 餅乾生產餡
            p html/css/UIdesign
          img(src='..//images/lightwood 1.png' alt='')
    // footer start
    footer
      .footer-content.container
        dl
          dt 關於伯朗
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
        dl
          dt 伯朗會員
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
        dl
          dt 友善聯結
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
        dl
          dt 伯朗app
          dd
            a(href='#') 33
          dd
            a(href='#') 33
          dd
            a(href='#') 33
      p 2022 copyright deanlee
